@charset 'utf-8';
html,body{color:#000;background-color:#FFF;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-family:Consolas,'微软雅黑'}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
button,input,option,select,textarea{font-size:100%;font-family:Consolas,'微软雅黑'}
table{border-collapse:collapse;border-spacing:0}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
a{text-decoration:none}
a:hover{text-decoration:none}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clear{zoom:/* for IE6 IE7 */1}
.hide{display:none}
.left{float:left}
.right{float:right}
html,body{font-size:12px;line-height:2em;color:#444;background-color:#F8F8F8}
a{color:#444}
a:hover{color:#2f96b4}
#error,#success,#notice{width:380px;margin:80px auto;border:1px solid #BBB;background-color:#FAFAFA;box-shadow:0 0 10px #AAA}
.title{padding:.5em 1em;background-color:#EAEAEA}
.content{text-align:center;padding:2.5em 1em;border-top:1px solid #CCC}
.message{font-size:16px;line-height:2.5em}
#error .content,#error .bottom{background-color:#fffaf1}
#success .content,#success .bottom{background-color:#eeffea}
#notice .content,#notice .bottom{background-color:#f4eaff}
.bottom{padding:1em 2em}
.bottom .btn:hover{color:#222}
.content .tip{font-size:12px;color:#666}